<script>
export default{
    data(){
        return {
            previous:null,
            current:'',
            operator:null,
            operatorClicked:false
        }
    },
    methods: {
        clear() {
            this.current = '0';
        },
        sign() {
            this.current = this.current.charAt(0) === '-' ? this.current.slice(1) : `-${this.current}`;         
            },
       percentage() {
        this.current = parseFloat(this.current)/100;
       },
       append(number){
        if (this.operatorClicked) {
            this.current = '';
            this.operatorClicked = false;
        }
        if (this.current === '0') {
            this.current = number;
        } else {
            this.current += number;
        }

       },
       dot() {
            if (!this.current.includes('.')) {
                this.current += '.';
            }
        },
        setPrevious() {
            this.previous= this.current;
            this.operatorClicked = true;
        },
        divide()  {
            this.current=this.current + "/";
            this.setPrevious();
            this.operator=(a,b)=> a/b;

        },
        times(){
            this.current=this.current + "*";
            this.setPrevious();
            this.operator=(a,b)=> a*b;


        },
        minus() {
            this.current=this.current + "-";
            this.setPrevious();
            this.operator=(a,b)=> a-b;


        },
        add() {
            this.current=this.current + "+";
            this.setPrevious();
            this.operator=(a,b)=> a+b;
        },
        equal() {
            if (this.operator && this.previous !== null) {
                this.current = this.operator(parseFloat(this.previous), parseFloat(this.current)).toString();
                this.previous = null;
                this.operator = null;
            }
        }

    },
  

}
</script>
<template>
    <div class="calculator">
        <div class="display">{{current}}</div>
        <div @click="sign"  class="btn">+/-</div>
        <div @click="clear" class="btn">C</div>
        <div @click="percentage" class="btn">%</div>
        <div @click="divide" class="btn operator">/</div>
        <div @click="append('7')" class="btn">7</div>
        <div @click="append('8')" class="btn">8</div>
        <div @click="append('9')" class="btn">9</div>
        <div @click="times" class="btn operator">X</div>
        <div @click="append('4')" class="btn">4</div>
        <div @click="append('5')" class="btn">5</div>
        <div @click="append('6')" class="btn">6</div>
        <div @click="minus" class="btn operator">-</div>
        <div @click="append('1')" class="btn">1</div>
        <div @click="append('2')" class="btn">2</div>
        <div @click="append('3')" class="btn">3</div>
        <div @click="add" class="btn operator">+</div>
        <div @click="append('0')" class="zero btn">0</div>
        <div @click="dot()" class="btn">.</div>
        <div @click="equal()" class="btn operator">=</div>

    </div>

</template>
<style scoped>
.calculator {
  margin: 0 auto;
  width: 400px;
  font-size: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(50px, auto);
}

.display {
  grid-column: 1 / 5;
  background-color: #333;
  color: white;
}
.zero {
  grid-column: 1 / 3;

}
.btn {
    background-color: #eee;
    border:1px solid #999;

}
.operator {
    background-color: orange;
    color:white;
}
</style>